html, body {
  height: 100%;
  overscroll-behavior: none;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

[ng-controller="HeartsCtrl"] {
  background-color: lightgrey;
}

.current-player::before {
  content: '🖐️ ';
}
