<div class="col-xs-12" style="padding:0" ng-controller="HeartsCtrl">
  <div class="col-xs-12 text-center">
    <p>
      <a class="btn btn-info" href="#" onclick="window.location.reload()" style="position: absolute;left: 10px;top: 10px;">
        Back to home
      </a>
    </p>
    <h4>
      <i class="fa fa-hand-o-right" ng-if="currentPlayer == north"></i>
      {{members[north].name}}
    </h4>
    <div class="card back">
      <h5><span class="label label-default">Hand: {{hands[north]}}</span></h5>
      <h5><span class="label label-danger">Penalties: {{points[north]}}</span></h5>
    </div>
  </div>
  <div class="col-xs-3 col-sm-4 text-center" style="padding:0;overflow:hidden">
    <h4>
      <i class="fa fa-hand-o-right" ng-if="currentPlayer == west"></i>
      {{members[west].name}}
    </h4>
    <div class="card back">
      <h5><span class="label label-default">Hand: {{hands[west]}}</span></h5>
      <h5><span class="label label-danger">Penalties: {{points[west]}}</span></h5>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4" style="padding:0">
    <div class="col-xs-12 text-center">
      <div ng-class="field[north].classname || 'placeholder'"></div>
    </div>
    <div class="col-xs-6 col-sm-4 text-center" style="padding:0">
      <div ng-class="field[west].classname || 'placeholder'"></div>
    </div>
    <div class="hidden-xs col-sm-4 text-center"></div>
    <div class="col-xs-6 col-sm-4 text-center" style="padding:0">
      <div ng-class="field[east].classname || 'placeholder'"></div>
    </div>
    <div class="col-xs-12 text-center">
      <div ng-class="field[south].classname || 'placeholder'"></div>
    </div>
  </div>
  <div class="col-xs-3 col-sm-4 text-center" style="padding:0;overflow:hidden">
    <h4>
      <i class="fa fa-hand-o-right" ng-if="currentPlayer == east"></i>
      {{members[east].name}}
    </h4>
    <div class="card back">
      <h5><span class="label label-default">Hand: {{hands[east]}}</span></h5>
      <h5><span class="label label-danger">Penalties: {{points[east]}}</span></h5>
    </div>
  </div>
  <div class="col-xs-12 text-center" style="padding:0">
    <h4>
      <i class="fa fa-hand-o-right" ng-if="currentPlayer == south"></i>
      {{members[south].name}}
    </h4>
    <p>
      <span class="label label-danger">Penalties: {{points[south]}}</span>
    </p>
    <div ng-repeat="card in hand" ng-class="card.classname" ng-click="playCard(card.id)"></div>
  </div>
  <div class="col-xs-12 text-right" ng-if="heartBroken">
    <p>💔</p>
  </div>
  <!-- scoreboard modal -->
  <div class="modal fade" id="scoreboard" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Scoreboard</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover">
            <!-- TODO: highlight winner -->
            <!-- track by $index coz names and scores may not unique -->
            <thead>
              <tr>
                <th ng-repeat="m in members track by $index">{{m.name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="round in scores track by $index">
                <td ng-repeat="score in round track by $index">{{score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <!-- TODO: end game? -->
          <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end scoreboard modal -->
</div>
